{% extends "layout.html" %}
{% block content %}
        <div>
            <a class="btn btn-info mb-4" href="{{ url_for('home') }}">Home</a>
            <a class="btn btn-info mb-4" href="{{ url_for('about') }}">About</a>
        </div>
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Sign Up</legend>
                    <div>
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                <small>
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </small>
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                <small>
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </small>
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                <small>
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </small>
                            </div>
                        {% else %}
                            {{ form.password() }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                <small>
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </small>
                            </div>
                        {% else %}
                            {{ form.confirm_password() }}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit() }}
                </div>
                <div>
                    <small>
                        Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
                    </small>
                </div>
{% endblock content %}